.about__article {
    background-color: white;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__text {
    width: 30%;
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 1000px) {
    .about_article {
        margin-top: 100px;
    }

    .text {
        width: 80%;
    }
}