body {
  overflow: overlay;
  margin: 0;
  font-family: 'Merienda', sans-serif;
  transition: all 0.6s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}