body {
    background-image: url(../../../public/img/main_bg.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Merienda', cursive;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

.container {
    width: 50%;
    margin: 8% auto 14%;
}

.container_title {
    margin-bottom: 1%;
    text-align: center;
}


.container_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 6px black;
}


.more_btn {
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    font-family: 'Merienda', cursive;
    font-size: 14px;
    background: transparent;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

.more_btn:hover {
    background-color: white;
    color: black;
}

.btn_mt30 {
    margin-top: 18px;
}